@model String?

@{
    ViewBag.Title = "Upload";
}

<div class="text-center">
    <p class="alert-warning" style="color: red">@Model</p>
</div>

<div class="outer-section">
    <div class="section">
        <div class="row">
            <div class="text-center text-title color-banana align-vertical-center">
                <p class="Centered">File Share</p>
            </div>
        </div>

        <div class="row color-banana text-title">
            <form class="text-middle drop-field background-gray align-vertical-center align-horizontal-center dropzone"
                  asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data" id="FileUpload">
            </form>
        </div>
    </div>
</div>