@model String?

@{
    ViewBag.Title = "Upload";
}

<div class="text-center">
    <p class="alert-warning" style="color: red">@Model</p>

    <h1 class="display-4" style="color: steelblue">Select file to upload</h1>
    
    <form class="dropzone" asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data" id="FileUpload"></form>
</div>