@model String?

@{
    ViewBag.Title = "Info";
}

<link rel="stylesheet" href="~/css/info_page.css" />

<div class="outer-section">
    <div class="section">


        <div class="row">

            <div class="rounded-box height-main align-horizontal-center align-vertical-center background-side">
                <p class="color-text text-title">Name</p>
            </div>

        </div>

        <div class="row rounded-box height-main-half">

            <div class="col-4 px-0">
                <div class="rounded-box height-main-half border-main align-horizontal-center left-bordered-box align-horizontal-center align-vertical-center background-side">
                    <p class="color-text text-middle">10 Mb</p>
                </div>
            </div>

            <div class="col-8 px-0">
                <div class="rounded-box height-main-half border-main align-horizontal-center right-bordered-box align-vertical-center background-side">
                    <p class="color-text text-middle">Modified 37 seconds ago</p>
                </div>
            </div>

        </div>

        <div class="row rounded-box height-main-half mb-6">

            <div class="col-6 px-0">
                <button class="color-text border-text text-middle left-bordered-box button-box align-horizontal-center align-vertical-center background-side ">
                    Copy File Link
                </button>
            </div>

            <div class="col-6 px-0">
                <button class="color-text border-text text-middle right-bordered-box button-box align-horizontal-center align-vertical-center background-side">
                    Copy Direct Link
                </button>
            </div>

        </div>

        <div class="row rounded-box height-main-middle">


            <div class="col-3 px-0">
                <button class="color-text border-text text-middle-title left-bordered-box align-horizontal-center align-vertical-center background-side">
                    Upload
                </button>
            </div>

            <div class="col-9 px-0">
                <button class="color-text border-text text-middle-title right-bordered-box align-horizontal-center align-vertical-center background-side">
                    Download
                </button>
            </div>


        </div>
    </div>
</div>
