@import url(https://fonts.googleapis.com/css?family=Montserrat);


:root {
    --main-color: #323232;
    --side-color: #2d2d2d;
    --text-color: #8474b9;
    --hover-color: #a28fdf;
    --alert-color: red;
    --border-width: 2px;
    --border-radius: 25px;
    --font-title-size: 50px;
    --font-middle-size: 30px;
    --font-side-size: 18px;
    --font-family: "Montserrat", sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--main-color);
}

html {
    height: 100%;
    margin: 0;
}

p{
    margin: 0;
}

.content {
    min-height: 100%;
    margin: 0 auto -60px 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.background-main {
    background-color: var(--main-color);
}

.background-side {
    background-color: var(--side-color);
}

.background-text {
    background-color: var(--text-color);
    font-family: var(--font-family);
}

.color-main {
    color: var(--main-color);
}

.color-side {
    color: var(--side-color);
}

.color-text {
    color: var(--text-color);
    font-family: var(--font-family);
}
.color-text-inverted {
    color: var(--side-color);
    font-family: var(--font-family);
}

.border-main {
    border-color: var(--main-color);
}

.border-side {
    border-color: var(--side-color);
}

.border-text {
    font-family: var(--font-family);
}

.text-title {
    color: var(--text-color);
    font-size: var(--font-title-size);
    font-family: var(--font-family);
}

.text-side {
    color: var(--text-color);
    font-size: var(--font-side-size);
    font-family: var(--font-family);
}

.Centered {
    margin-bottom: 0;
    margin-left: var(--font-side-size);
}

.align-vertical-center {
    display: flex;
    align-items: center;
}

.align-horizontal-center {
    display: flex;
    justify-content: center;
}

.footer {
    height: 60px;
}
.alert {
    height: 60px;
    background-color: var(--side-color);
    color: var(--alert-color);
    font-size: var(--font-side-size);
    font-family: var(--font-family);
}

button {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    padding: 0;
    transition: all 0.08s ease;
}
button:hover {
    transform: scale(1.05) rotate(-2deg);
    background-color: var(--hover-color);
    color: var(--side-color);
}
button:active {
    transform: scale(0.8) rotate(5deg);
    color: var(--main-color);
    border-color: var(--hover-color);
    border-radius: calc(var(--border-radius) * 2);
}

form {
    height: 100%;
    width: 100%;
}